<main>

  <div>
    <h3>Список сторінок</h3>
  </div>
  <br />
  <p>Сьогодні важко уявити життя без Інтернету. Дехто з нас
    навіть розпочинає свій день за чашкою кави, переглядаючи
    в той же час новини на улюбленому
    <a class='link' href='shopnews'>сайті</a>
    чи шукаючи новий
    <a class='link' href='shopcatalog'>гаджет</a>
    в інтернет-магазині. Онлайн-простір став невід'ємною
    частиною й ділового життя. Якщо ви володієте бізнесом
    або лише збираєтесь його створити, сайт може допомогти в
    розвитку вашого бренду та збільшенні популярності.
    Однак, перед тим, як розпочати розробку власного сайту,
    не зайвим буде ознайомитися з їх видами, щоб ви точно
    знали, що вам потрібно.</p>
  <p>Тут представлено кілька прикладів для Вашої ідеї.</p>

  <a class='btn btn-primary' href='index8'>Back</a>
  <a class='btn btn-primary' href='shopcart'>Cart</a>
  <a class='btn btn-primary' href='shopcatalog'>Catalog</a>
  <a class='btn btn-primary' href='shophome'>Home</a>
  <a class='btn btn-primary' href='shopnews'>News</a>
  <a class='btn btn-primary' href='shoporder'>Order</a>
  <a class='btn btn-primary' href='shopproduct'>Product</a>
  <a class='btn btn-primary' href='shopprofile'>Profile</a>
  <a class='btn btn-primary' href='shopreview'>Review</a>

</main>