  <nav>
    {{>link href='summary' text='summary' line=true}}
    {{>link href='work' text='work' line=true}}
    {{>link href='skills' text='skills' line=true}}
    {{>link href='education' text='education' noLine=true}}
  </nav>