<hr />

{{#each footer}}
  <div class='row'>
    <ul class='nav'>
      {{#each this}}
        <li class='nav-item col-3 p-1'>
          <a class='nav-link' href='{{link}}'>{{text}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
{{/each}}