<nav
  style="--bs-breadcrumb-divider: '>';"
  aria-label='breadcrumb'
>
  <ol class='breadcrumb'>
    <li class='breadcrumb-item'><a href='/index8'><b
          style='color: blueviolet;'
        >Back</b></a></li>
    <li class='breadcrumb-item'><a
        href='/shopcart'
      >Cart</a></li>
    <li class='breadcrumb-item'><a
        href='/shopcatalog'
      >Catalog</a></li>
    <li class='breadcrumb-item'><a
        href='/shophome'
      >Home</a></li>
    <li class='breadcrumb-item'><a
        href='/shopnews'
      >News</a></li>
    <li class='breadcrumb-item'><a
        href='/shoporder'
      >Order</a></li>
    <li class='breadcrumb-item'><a
        href='/shopproduct'
      >Product</a></li>
    <li class='breadcrumb-item'><a
        href='/shopprofile'
      >Profile</a></li>
    <li class='breadcrumb-item'><a
        href='/shopreview'
      >Review</a></li>
  </ol>
</nav>