<main>
  <div class='card p-2'>
    {{#with navigation}}
      <div class='row'>
        <div class='col-4'><h1>{{Logo}}</h1></div>
        <div class='col-8'>
          <ul class='nav justify-content-end'>
            {{#each links}}
              <li class='nav-item'>
                <a
                  class='nav-link'
                  href='{{href}}'
                >{{text}}</a>
              </li>
            {{/each}}
            <li class='nav-item'>
              <a
                class='nav-link disabled'
                href='#'
              >Disabled</a>
            </li>
          </ul>
        </div>
      </div>
    {{/with}}
  </div>
</main>